
@{
    ViewData["Title"] = "FormularPage2";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<form asp-controller="Formular" asp-action="FormularPage3">
    
  <div>Warum kommen Sie in die Praxis? Wenn Sie wegen Schmerzen kommen, beachten Sie bitte das Schema am Ende dieses Fragebogens</div><br>
  <textarea style="width:300px; height:150px;" runat="server" type="text" id="warumKommenSieTextBox" name="warumKommenSieTextBox"></textarea><br>
  
  <input type="submit">
</form>
