
@{
    ViewData["Title"] = "FormularPage3";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<form>
    <label>Vielen Dank für Ihre Mithilfe!</label><br>
  
</form>
